<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- CSS  -->
    <link rel="stylesheet"
          th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}">

    <link rel="stylesheet"
          data-th-href="@{https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css}">
    <title>Add mobile</title>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col s12 m7">

            <h3 th:align="center">Add mobile</h3>
            <a th:href="@{/}" class="waves-effect black-text text-darken-2 grey lighten-2 btn">Главная</a>
            <br>
            <div class="card">
                <div class="card-content">
                    <form th:if="${@accountService.isAuthenticated()}" th:action="@{/add-mobile}" method="post">
                        <div class="row">
                            <div class="input-field col s12">

                                <label for="name-label"></label>
                                <input id="name-label" name="name" type="text"
                                       placeholder="product name"  class="validate" required>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="input-field col s12">
                                <input placeholder="product description" id="description-label" name="description"
                                       type="text"
                                       class="validate" required>
                                <label for="description-label"></label>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="input-field col s12">
                                <input placeholder="product quantity" id="quantity-label" name="quantity"
                                       type="text" class="validate" required>
                                <label for="quantity-label"></label>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="input-field col s12">
                                <input placeholder="product price" id="price-label" name="price" type="text"
                                       class="validate" required>
                                <label for="price-label"></label>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="input-field col s12">
                                <input placeholder="screen diagonal" id="diagonal-label" name="diagonal" type="text"
                                       class="validate" required>
                                <label for="diagonal-label"></label>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="input-field col s12">
                                <input placeholder="memory Gb" id="memoryGb-label" name="memoryGb" type="text"
                                       class="validate" required>
                                <label for="memoryGb-label"></label>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="input-field col s12">
                                <input placeholder="processor model" id="processorModel-label"
                                       name="processorModel"
                                       type="text"
                                       class="validate" required>
                                <label for="processorModel-label"></label>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="input-field col s12">
                                <input placeholder="battery power mA" id="batteryPower-label" name="batteryPower"
                                       type="text"
                                       class="validate" required>
                                <label for="batteryPower-label"></label>
                            </div>
                        </div>
                        <br>
                        <button class="waves-effect grey darken-4 btn" type="submit">Добавить
                        </button>

                        <br>
                        <br>

                        <ol class="collection">
                            <li class="collection-item" th:each="mobile : ${mobiles}">
                                <a th:href="@{/add-mobile/{id} (id=${mobile.id}) }">

                                    <span th:text="${mobile.name}">-</span>
                                    <span th:text="${mobile.price}">-</span>
                                </a>
                            </li>
                        </ol>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>