<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <!-- CSS  -->
    <link rel="stylesheet"
          th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}">

    <link rel="stylesheet"
          data-th-href="@{https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css}">

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col s12 m7">

            <h3 th:align="center">yourShop</h3>
            <!--<h4 th:align="center" th:text="${account.getUsername()}"></h4>-->

            <form th:if="${@accountService.isAuthenticated()}" data-th-action="@{/logout}" method="post">
                <button type="submit" class="waves-effect black-text text-darken-2 grey lighten-2 btn">Выйти</button>
            </form>
            <a th:href="@{/login}" th:if="${!@accountService.isAuthenticated()}"
               class="waves-effect black-text text-darken-2 grey lighten-2 btn">Войти</a>
            <a th:href="@{/registration}" th:if="${!@accountService.isAuthenticated()}"
               class="waves-effect black-text text-darken-2 grey lighten-2 btn">Регистрация</a>
            <a th:href="@{/all-products}" th:if="${@accountService.isAuthenticated()}"
               class="waves-effect black-text text-darken-2 grey lighten-2 btn">Мои товары</a>
            <a th:href="@{/add-order}" th:if="${@accountService.isAuthenticated()}"
               class="waves-effect black-text text-darken-2 grey lighten-2 btn">Мои заказы</a>

            <div class="card">

                <!--<div class="card-image">-->
                <!--<img src="4.jpg">-->
                <!--<span class="card-title">e-Store</span>-->
                <!--</div>-->

                <div class="card-content">
                    <p>Welcome to yourShop. You can find here some products and items. Use the search</p>


                    <form data-th-action="@{/}">
                        <label for="name">Enter product name</label>
                        <input placeholder="abibas orijinal" id="name" name="name" type="search" data-th-value="${name}" required>
                        <button class="waves-effect grey darken-4 btn" type="submit">Найти</button>
                        <br>
                        <br>
                        <!--<table class="highlight">-->
                        <!--<thead>-->
                        <!--<tr>-->

                        <!--<th> name</th>-->
                        <!--<th> price</th>-->
                        <!--</tr>-->
                        <!--</thead>-->

                        <!--<tbody th:each="mobile : ${mobiles}">-->
                        <!--&lt;!&ndash;<tr onclick="window.location.href='@{/add-shirt/{id} (id=${shirt.id}) }';return false">&ndash;&gt;-->
                        <!--<tr>-->
                        <!--<td th:text="${mobile.name}"></td>-->
                        <!--<td th:text="${mobile.price}"></td>-->
                        <!--</tr>-->
                        <!--</tbody>-->

                        <!--<tbody th:each="shirt : ${shirts}">-->
                        <!--<tr th:href="@{add-shirt/{id} (id=${shirt.id}) }">-->
                        <!--<td th:text="${shirt.name}"></td>-->
                        <!--<td th:text="${shirt.price}"></td>-->
                        <!--</tr>-->
                        <!--</tbody>-->

                        <!--</table>-->

                        <ul class="collection">
                            <li class="collection-item" th:each="mobile : ${mobiles}">
                                <a th:href="@{/add-mobile/{id} (id=${mobile.id}) }">

                                    <span th:text="${mobile.name}">-</span>
                                    <span th:text="${mobile.price}">-</span>

                                </a>
                            </li>
                        </ul>

                        <ul class="collection">
                            <li class="collection-item" th:each="shirt : ${shirts}">
                                <a th:href="@{/add-shirt/{id} (id=${shirt.id}) }">

                                    <span th:text="${shirt.name}">-</span>
                                    <span th:text="${shirt.price}" th:align="right">-</span>

                                </a>
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Import jQuery before materialize.js-->
<script th:src="@{https://code.jquery.com/jquery-3.2.1.min.js}"></script>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js}"></script>

</body>
</html>

