<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>

    <link th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}"
          rel="stylesheet">
    <link rel="stylesheet"
          data-th-href="@{https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css}">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col s12 m7">
            <h3 th:align="center">Login</h3>
            <div class="card">
                <div class="card-content">
                    <form name="f" data-th-action="@{/login}" method="post">
                        <div class="row">
                            <div class="input-field col s12">
                                <input placeholder="Login" id="login" name="username" type="text" class="validate"
                                       required>
                                <label for="login"></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input placeholder="Password" id="password" name="password"
                                       type="password" class="validate" required>
                                <label for="password"></label>
                            </div>
                        </div>
                        <button class="waves-effect grey darken-4 btn" type="submit">Войти
                            <!--<i class="material-icons right">send</i>-->
                        </button>
                        <br><br>
                        <a th:href="@{/}" class="waves-effect black-text text-darken-2 grey lighten-2 btn">Главная</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>