<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>

    <link th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}"
          rel="stylesheet">
    <link rel="stylesheet"
          data-th-href="@{https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css}">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col s12">
            <br>
            <a th:href="@{/}" class="waves-effect green lighten-3 btn">Главная</a>
            <h1>Login</h1>
            <form name="f" data-th-action="@{/login}" method="post">
                <div class="row">
                    <div class="input-field col s12">
                        <input placeholder="Login" id="login" name="username" type="text" class="validate" required>
                        <label for="login">Login</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input placeholder="Password" id="password" name="password"
                               type="password" class="validate" required>
                        <label for="password">Password</label>
                    </div>
                </div>
                <button class="waves-effect blue accent-2 btn" type="submit">Войти
                    <i class="material-icons right">send</i>
                </button>
            </form>
        </div>
    </div>
</div>
<div data-th-fragment="scriptsFragment">
    <script type="text/javascript"
            th:src="@{https://code.jquery.com/jquery-3.2.1.min.js}"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js}"></script>
</div>
</body>
</html>